body {
    font-family: "Source Sans Pro", sans-serif;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Fjalla One", sans-serif;
}

h1 {
    font-size: 40px;
    font-weight: normal;
    line-height: 1.5;
    letter-spacing: -.2px;
    color: white;
    margin: 0;
}

h1 strong {
    color: #026fff;
}

h2 {
    color: #026fff;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 24px;
    margin-bottom: 40px;
}

.header {
    background-color: #1b2127;
    color: white;
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-between;
}

.header a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    height: inherit;
    padding: 0px 10px;
}

.menu {
    height: inherit;
}

.header ul {
    display: flex;
    height: inherit;
}

.header ul li {
    height: inherit;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

figure {
    margin: 0;
}

.hero {
    height: 300px;
    /*background-image: url("../images/hero.jpg");
    background-size: 500px 300px;
    background-repeat: no-repeat;
    background-position-x: right;*/
    background-color: #1b2127;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-image{
    object-fit: cover;
}

.portfolio {
    background: #fafafa;
    padding: 20px;
}

.project {
    border: 1px solid grey;
    border-radius: 10px;
    margin: 0px;
    margin-bottom: 15px;
    padding: 20px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project-course,
.project-date,
.project-url {
    margin: 10px 0;
}

.project-description {
    font-size: 20px;
}

.project strong {
    font-family: "Fjalla One", sans-serif;
}

.project-title {
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.project-details {
    width: 500px;
}

.project-imageContainer {
    width: 500px;
}

.event-list {
    display: flex;
    flex-wrap: wrap;
}

.event-list-title {
    margin-left: 20px;
}

.event {
    margin: 10px;
    width: 480px;
    border-radius: 10px;
    overflow: hidden;
    flex-shrink: 0;
    background: #f4fbff;
}

.event img {
    width: 480px;
    height: 200px;
    object-fit: cover;
}

.event-detail {
    margin: 20px 40px;
    margin-top: -40px;
    background-color: white;
    position: relative;
    padding: 20px;
    text-align: center;
}

.event-description {
    text-align: left;
}

.event-url {
    text-decoration: none;
    border: 1px solid;
    border-radius: 5px;
    padding: 5px 20px;
    color: #056fff;
}

.contact {
    background-color: #056fff;
    color: white;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-email input {
    border-color: gray;
    padding: 5px 20px 5px 25px;
    border-radius: 5px;
    border-style: solid;
    background-image: url(../images/envelope.svg);
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
}

.form-email button {
    display: block;
    margin-top: 10px;
    background: transparent;
    border-radius: 5px;
    color: white;
    width: 100px;
    padding: 10px 0;
}

.form-email h3 {
    font-family: "Source Sans Pro", sans-serif;
}

.social-link {
    display: inline-block;
    margin: 0 10px;
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
}

.social-link.twitter {
    background-image: url(../images/twitter.svg);
}

.social-link.facebook {
    background-image: url(../images/facebook.svg);
}

.social-link.github {
    background-image: url(../images/github.svg);
}

.social-link.instagram {
    background-image: url(../images/instagram.svg);
}

.footer {
    background: #1b2127;
    color: white;
    display: flex;
    justify-content: space-between;
}

.footer img {
    vertical-align: middle;
}

.footer a {
    color: white;
}

.container{
    width: 1000px;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
}