body{
    font-family: "Source Sans Pro", sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Fjalla One", sans-serif;
}

h1{
    font-size: 40px;
    font-weight: normal;
    line-height: 1.5;
    letter-spacing: -.2px;
    color: white;
}

h1 strong{
    color: #026fff;
}

.hero{
    height: 300px;
    background-image: url("../images/hero.jpg");
    background-size: 500px 300px;
    background-repeat: no-repeat;
    background-position-x: right;
    background-color: #1b2127;
}

.project-details{
    width: 500px;
}
.project-imageContainer{
    width: 500px;
}

.header{
    background-color: #1b2127;
    color: white;
}

.header a{
    color: white;
    text-decoration: none;
}